<div class="jumbotron text-center mx-auto" id="UserArea">
        <h1 class="display-3">
            Hello
        </h1>
        <p class="lead">Welcome to the Chatroom App, Please enter your name below to continue.</p>
        <div class="container mx-auto mt-3 pt-4" style="width:300px;">
            <form class="form-inline" id="userForm">
                <label for="name" class="sr-only">Name</label>
                <input type="text" name="name" id="name" class="form-control mb-2 mr-sm-2" required placeholder="Name">     
                <input type="Submit" class="btn btn-primary mb-2" name="Enter" value="Join">
            </form>
        </div>      
</div>
<div class="container pt-5" id="chatArea">
    <div class="card card-body " style="overflow:auto; width:100%;height:600px;" id="chat">
         
    </div>
    <div class="card card-body bg-light border border-secondary">
        <form id="chatForm">
            <div class="row ">
                <div class="col-md-10">
                    <label class="sr-only" for="message">Message</label>
                    <input type="text" class="form-control mb-2 mr-sm-2" id="message" name="message" placeholder="Message....">
                </div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-primary mb-2" id="send">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    
</script>